
.fondo {
    background-color:  #0593c7;
}

.caja1 {
  color:    black  ;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;

}

.caja2 {
  display: block;
  background-color:    #33adda  ;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
}

.caja3 {
  margin: 0 auto;
  align-items: center;
  background-color: #66d14b;
  border: 3px solid #66d14b;
  color:    black  ;
  font-size: 20px;
  text-align: center;
  height: 205px ;
  width:655px ;

}

#salida{
font-size: 17px;
position: relative;
left: 510px;
top: 20px;
background-color: azure;
border-radius: 10px;
padding: 10px 60px;
width: 200px;
flex-direction: column;
box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
#botonDescifrar:hover{
  background: transparent;
  color: #142202;
  border-color: #a01907;
  border-width: 3px;
border-style: solid;
}

button {
  text-align: center; 
  font-weight: 600;
  font-size: 20px;
  width: 150px;
  color: black ;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color: #09dd5a;
  border-color: #d5e8ec;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0.5px 0.5px 0.5px whitesmoke;


}

#Limpiar{
  position: relative;
  left: 275px;
  top: 60px;
  text-align: center; 
  font-weight: 600;
  font-size: 18px;
  color: black ;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color: #aeb9b2;
  border-color: #d5e8ec;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}


button:hover{
  background: transparent;
  color: #067c33;
  border-color: #057faf;
  border-width: 3px;
border-style: solid;
}


#Limpiar:hover{
  background: rgb(236, 236, 80);
  color: #142202;
  border-color: #03a541;
  border-width: 3px;
border-style: solid;
}

::placeholder {
  color: rgb(18, 18, 243);
  font-style: italic;
  text-align: center;
}
